In [21]:

# Initial imports
import os
import requests 
import pandas as pd
import json
from dotenv import load_dotenv
from pathlib import Path
import numpy as np


%matplotlib inline

import requests
response = requests.get("https://api.coinbase/v2/currencies")
print(response.status_code)

In [48]:
# Use the Pathlib libary to set the path to the CSV
df_USD = Path("../Rina/FIAT_USD.csv")
df_Bitcoin = Path("../Rina/BTC-USD.csv")

USD_df = pd.read_csv(df_USD)
Bitcoin_df = pd.read_csv(df_Bitcoin)

In [52]:
USD_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,84.099998,84.709999,83.940002,84.699997,84.699997,0.0
1,2014-09-18,84.739998,84.739998,84.220001,84.320000,84.320000,0.0
2,2014-09-19,84.279999,84.800003,84.230003,84.800003,84.800003,0.0
3,2014-09-21,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-22,84.809998,84.860001,84.519997,84.669998,84.669998,0.0
...,...,...,...,...,...,...,...
2123,2021-09-12,NaN,NaN,NaN,NaN,NaN,NaN
2124,2021-09-13,92.610001,92.889999,92.570000,92.620003,92.620003,0.0
2125,2021-09-14,92.620003,92.680000,92.320000,92.650002,92.650002,0.0
2126,2021-09-15,92.680000,92.680000,92.419998,92.489998,92.489998,0.0
2127,2021-09-16,92.459999,92.959999,92.459999,92.860001,92.860001,0.0

In [51]:
Bitcoin_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2553,2021-09-13,46057.214844,46598.679688,43591.320313,44963.074219,44963.074219,4.096994e+10
2554,2021-09-14,44960.050781,47218.125000,44752.332031,47092.492188,47092.492188,3.865215e+10
2555,2021-09-15,47098.000000,48450.468750,46773.328125,48176.347656,48176.347656,3.048450e+10
2556,2021-09-16,48158.906250,48486.828125,47079.558594,47783.359375,47783.359375,3.176429e+10
2557,2021-09-17,47771.003906,48160.921875,46832.523438,47267.519531,47267.519531,2.872771e+10

In [22]:
#import requests
response = requests.get("https://api.exchange.coinbase.com/currencies")
print(response.status_code)

200

In [53]:

#dictionary = json.dumps(response.json(), sort_keys = True, indent = 4)
crypto_types = response.json()
print(crypto_types[0])
crypto_list = []
for crypto_type in crypto_types:
    id1 = crypto_type['id']
    name = crypto_type['name']
    type1 = crypto_type['details']['type']
    symbol = crypto_type['details']['symbol']
    min_size = crypto_type
    group_types = crypto_type ['details']['group_types'] 
    crypto_list.append({"id": id1, "name": name, "type": type1, "symbol": symbol, "group_types": group_types})
crypto_df = pd.DataFrame(crypto_list)
crypto_df

{'id': 'AUCTION', 'name': 'Bounce Token', 'min_size': '0.01', 'status': 'online', 'message': '', 'max_precision': '0.001', 'convertible_to': [], 'details': {'type': 'crypto', 'symbol': '', 'network_confirmations': 35, 'sort_order': 303, 'crypto_address_link': 'https://etherscan.io/token/0xa9b1eb5908cfc3cdf91f9b8b3a74108598009096?a={{address}}', 'crypto_transaction_link': 'https://etherscan.io/tx/0x{{txId}}', 'push_payment_methods': ['crypto'], 'group_types': [], 'display_name': '', 'processing_time_seconds': 0, 'min_withdrawal_amount': 1e-18, 'max_withdrawal_amount': 8000}}

          id                name    type symbol group_types
0    AUCTION        Bounce Token  crypto                 []
1       COTI                COTI  crypto                 []
2       PERP  Perpetual Protocol  crypto                 []
3        DDX           DerivaDAO  crypto                 []
4        RAD             Radicle  crypto                 []
..       ...                 ...     ...    ...         ...
111      OXT              Orchid  crypto                 []
112      PLA            PlayDapp  crypto                 []
113      REP               Augur  crypto                 []
114      REQ             Request  crypto                 []
115     YFII           DFI.Money  crypto                 []

[116 rows x 5 columns]

True